includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 4
        minimumNumberOfJobsPerProcess: 2
    reportMaybes: true
